.grid {
  margin: 5%;
  height: 30vh;
  width: 50vw;
  display: grid;
  grid-template-columns: 1 1 1;
  grid-template-rows: 9fr 1fr;

  grid-template-areas: "tama-display tama-display tama-stats"
                       "tama-actions tama-actions tama-actions"

}
.tama-display { grid-area: tama-display; }
.tama-stats { grid-area: tama-stats; }
.tama-actions { grid-area: tama-actions; }

.tama-actions .container-fluid, .row { height: 100%; }

.tama-actions button { width: 100%; }

.status {
  font-size: 120px;
  text-align: center;
}

.tama-display h1:hover {
  animation: waho 1s infinite;
}

@keyframes waho {
  0% { transform: rotateZ(0deg); }
  100% { transform: rotateZ(360deg); }
}

.big-square {
  margin: 5%;
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: 1 1 1 1 1;
  grid-template-rows: 1 1 1 1 1;

  grid-template-areas: "square square square square square"
                       "square square square square square"
                       "square square square square square"
                       "square square square square square"
                       "square square square square square"

}
.square {
  outline: 1px solid gray;
  text-align: center;
}

.square:nth-child(2n+1) {
  background-color: aliceblue;
}

.infect {
  background-color: rgba(255, 0, 0, .5) !important;

}

.giphy {
    padding-left: 25px;
}

.weather {
    padding: 18px;
}
